
<form id="reg-form" method="post" action="/reg_numbers">
<p class="selectArea">Choose A Location</p>
<input type="radio" id="all" name="location" value="all" checked="checked">All<br>
<input type="radio" id="capeTown" name="location" value="capeTown" >Cape-Town<br>
<input type="radio" id="stellies" name="location" value="stellies" >Stellenbosch<br>
<input type="radio" id="paarl" name="location" value="paarl" >Paarl<br>
<input type="radio" id="belville" name="location" value="belville" >Belville<br><br><br>
<input type="text"  name="inputReg" placeholder="Please Enter Registration Number" required> </input><br><br><br><br>
<button type="submit" class="saveButton" value="save"> Save Registration </button>
<button type="submit" class="submitButton" value="submit"> Find Registration </button>
</form>
