body{
    font-family: tahoma;
    color: #555;
    background: LemonChiffon ;
    margin: 10px 30px;
}

input[type="text"]{
    display: block;
    width: 300px;

    border-radius: 4px;
    border: 1px solid #ddd;
}

.title{
    color: #fff;
    text-align: center;
    font-size: 48px;
}

form{
    max-width: 350px;
    margin: 30px auto;
}
input[type="submit"]{
    background: #555;
     color: #fff;
     border: 0;
     padding: 10px;
     font-size: 18px;
     width: 200px;
     margin: 0 auto;
     display: block;
     cursor: pointer;
     border-radius: 4px;
 }
ul{
    margin: 0;
    padding: 0;

}
li{
    padding: 15px 0;
    background: yellow;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    border-radius: 4px;
    border-style: solid;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    float: left;
    border-color: black;

}

button{
    /*float: right;*/
    background: green;
    border: 0;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    bottom: 50px;
}
button.false{display: none;}


.regPlt{
    font-size: 4em;
    background-color: yellow;
    position: relative;
    border:5px solid #cccc00;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    /*bottom:  100px;*/
    /*left: 850px;*/
    display: inline-block;

    font-family: 'Shift', sans-serif;

  }

.filter{
      position: relative;
      bottom:10px;

    }

.filterForm{
  background-color: lightblue;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border:5px solid black;
  width: 250px;
  height: 200px;
  position: relative;
  /*bottom: 300px;
  left: 250px;*/

}

.inputForm{
  background-color: lightblue;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border:5px solid black;
}

.inputPos{
  position: relative;
  bottom:10px;
  left:25px;
}

.numList{
  position: relative;
  /*bottom:150px;
  left:450px;*/
}
